
.team-card{
    background-color: #3563FA;
    border-radius: 10px;  
}
.team-image img{
    border-radius: 5px;
}

.team-information div{
    font-size: 20px;
}
.team-details p{
    font-size: 16px;
}
#club-badge{
    height: 150px;
    min-width: 150px;
}