
/* .main-section{
    font-family: 'Roboto', sans-serif;
} */
/* 
.team-title{
    font-weight: 900;
} */

#explore-button{
    background:#2C35EB;
    color: #ffffff;
}

#explore-button:hover{
    background: #000BFB;
}