
.hero-section{
  font-family: 'Roboto', sans-serif;
}
.hero-section{
  background-image: url(img/stadium.jpg);
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 
}
.hero-section h1{
  font-weight: 500;
  font-size: 50px;
  padding-top: 260px;
}



