
.hero-section .bg-image{
  background-image: url(img/stadium.jpg);
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.hero-section .bg-text h1{
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}



